@font-face {
    font-family: "29ff396b";
    src: url('https://www.rezo-zero.com/fonts/files/29ff396b_0.eot');
    src: url('https://www.rezo-zero.com/fonts/files/29ff396b_0.eot?#iefix') format('embedded-opentype'),
                url('https://www.rezo-zero.com/fonts/files/29ff396b_0.woff2') format('woff2'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_0.woff') format('woff'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_0.otf') format('opentype'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_0.svg') format('svg')
        ;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "29ff396b";
    src: url('https://www.rezo-zero.com/fonts/files/29ff396b_2.eot');
    src: url('https://www.rezo-zero.com/fonts/files/29ff396b_2.eot?#iefix') format('embedded-opentype'),
                url('https://www.rezo-zero.com/fonts/files/29ff396b_2.woff2') format('woff2'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_2.woff') format('woff'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_2.otf') format('opentype'),
                        url('https://www.rezo-zero.com/fonts/files/29ff396b_2.svg') format('svg')
        ;
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "8f9c0e2f";
    src: url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.eot');
    src: url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.eot?#iefix') format('embedded-opentype'),
                url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.woff2') format('woff2'),
                        url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.woff') format('woff'),
                        url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.otf') format('opentype'),
                        url('https://www.rezo-zero.com/fonts/files/8f9c0e2f_0.svg') format('svg')
        ;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "314a6dc9";
    src: url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.eot');
    src: url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.eot?#iefix') format('embedded-opentype'),
                url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.woff2') format('woff2'),
                        url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.woff') format('woff'),
                        url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.otf') format('opentype'),
                        url('https://www.rezo-zero.com/fonts/files/314a6dc9_0.svg') format('svg')
        ;
    font-style: normal;
    font-weight: normal;
}
